::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.ttf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana-Bold.ttf") format("opentype");
  font-weight: 700;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  height: 100vh;
  font-family: Verdana;
}
body main {
  display: grid;
  grid-template-columns: 70px 1fr;
}
body main .sidebar {
  display: grid;
  align-items: center;
  text-align: center;
  color: #fffefe;
  background-color: #1e1e1e;
  margin-top: 0;
}
body main .sidebar a {
  color: inherit;
  text-decoration: none;
}
body main .content {
  margin: 7vh 4vw 2vh 4vw;
  display: grid;
  grid-template-rows: 70px auto;
}
body main .content .top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 40px;
}
body main .content .top .t-links {
  display: grid;
  grid-template-columns: 300px 300px 1fr;
}
body main .content .top .t-links a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  max-height: 40px;
  display: flex;
  align-items: center;
}
body main .content .top .t-inputs {
  display: grid;
  grid-template-columns: 1fr 250px 250px;
  justify-items: right;
}
body main .content .top .t-inputs a {
  color: inherit;
  text-decoration: none;
}
body main .content .top .t-inputs a .calendar {
  width: 200px;
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 16px;
  background-color: #f8f8f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .content .top .t-inputs a .calendar .left {
  order: -1;
}
body main .content .top .t-inputs a .calendar .right {
  order: 1;
}
body main .content .schedule {
  display: grid;
  grid-template-rows: 70px auto;
}
body main .content .schedule .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #f8f8f8;
  color: #333333;
  border-radius: 15px;
  justify-items: center;
  text-align: center;
  font-weight: 600;
}
body main .content .schedule .days .month-date {
  font-weight: 400;
}
body main .content .schedule .pairs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
body main .content .schedule .pairs .day {
  background-color: #f8f8f8;
  border-radius: 15px;
  overflow-y: auto;
  margin: 10px 5px 10px 0px;
  align-self: start;
  max-height: 57vh;
}
body main .content .schedule .pairs .m-all {
  margin: 10px 5px 10px 5px;
}
body main .content .schedule .pairs .m-right {
  margin: 10px 0px 10px 5px;
}
body main .content .schedule .pairs .mn-wdth {
  min-width: 170px;
}
body main .content .schedule .pairs .pair {
  background-color: #dddddd;
  margin: 10px;
  padding: 10px;
  max-height: 130px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
body main .content .schedule .pairs .pair .date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
body main .content .schedule .pairs .pair .date-time .time {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  padding: 5px 10px 5px;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .content .schedule .pairs .pair .date-time .date {
  font-size: 11px;
}
body main .content .schedule .pairs .pair .rooms {
  display: flex;
  flex-direction: row;
}
body main .content .schedule .pairs .pair .rooms .room {
  margin-right: 10px;
  text-decoration: underline;
  font-size: 14px;
}
body main .content .schedule .pairs .pair .discipline {
  margin: 10px 0 5px;
  font-weight: 700;
}
body main .content .schedule .pairs .pair .teacher {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body main .content .schedule .pairs .first .time {
  background-color: #9258C8;
}
body main .content .schedule .pairs .second .time {
  background-color: #C8509D;
}
body main .content .schedule .pairs .third .time {
  background-color: #3FA9A9;
}
body main .content .schedule .pairs .fourth .time {
  background-color: #5863C8;
}
body footer {
  display: grid;
  grid-template-rows: 1fr 25px;
  color: #fffefe;
  background-color: #1e1e1e;
  height: 200px;
}
body footer .ft-links {
  padding: 30px;
  display: grid;
  grid-template-columns: 10vw 1fr 1fr 1fr 1fr 0;
}
body footer .ft-links section {
  display: grid;
}
body footer .ft-links a {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
body footer .copyright {
  text-align: center;
  color: #bbbbbb;
}/*# sourceMappingURL=style.css.map */