::-webkit-scrollbar
  width: 0
body
    display: grid
    grid-template-rows: auto 1fr auto
    margin: 0
    height: 100vh
    font-family: Montserrat
    main
        display: grid
        grid-template-columns: 70px 1fr
        .sidebar
            display: grid
            align-items: center
            text-align: center
            color: #fffefe
            background-color: #1e1e1e
            margin-top: 0
            a
                color: inherit
                text-decoration: none
        .content
            margin: 7vh 4vw 2vh 4vw
            display: grid
            grid-template-rows: 70px auto
            .top
                display: grid
                grid-template-columns: 1fr 1fr
                max-height: 40px
                .t-links
                    display: grid
                    grid-template-columns: 300px 300px 1fr
                    a
                        color: inherit
                        text-decoration: none
                        font-size: 16px
                        max-height: 40px
                        display: flex
                        align-items: center
                .t-inputs
                    display: grid
                    grid-template-columns: 1fr 250px 250px 
                    justify-items: right
                    a
                        color: inherit
                        text-decoration: none
                        .calendar
                            width: 200px
                            min-height: 40px
                            padding-left: 10px
                            padding-right: 10px
                            text-align: center
                            font-size: 16px
                            background-color: #f8f8f8
                            border-radius: 5px
                            display: flex
                            align-items: center
                            justify-content: space-between
                            // justify-content: left
                            .left
                                order: -1
                            .right
                                order: 1
            .schedule
                display: grid
                grid-template-rows: 70px auto
                .days
                    display: grid
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
                    background-color: #f8f8f8
                    color: #333333
                    border-radius: 15px
                    justify-items: center
                    text-align: center
                    font-weight: 600
                .pairs
                    display: grid
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
                    div
                        background-color: #f8f8f8
                        border-radius: 15px
                        overflow-y: auto
                        margin: 10px 5px 10px 0px
                        align-self: start
                        min-height: 300px
                        max-height: 53vh
                    .m-all
                        margin: 10px 5px 10px 5px
                    .m-right
                        margin: 10px 0px 10px 5px
                    .mn-wdth
                        min-width: 170px
                    .pair
                        background-color: #dddddd
                        margin: 10px
                        min-height: 180px    
                    
                    
    footer 
        display: grid
        grid-template-rows: 1fr 25px
        color: #fffefe
        background-color: #1e1e1e
        height: 200px
        .ft-links
            padding: 30px
            display: grid
            grid-template-columns: 10vw 1fr 1fr 1fr 1fr 0
            section
                display: grid
            a
                color: inherit
                font-weight: 600
                text-decoration: none
                font-size: 18px
        .copyright
            text-align: center
            color: #bbbbbb